<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="manipulator" params="base_name">
        <link name="manipulator_base">
            <inertial>
                <origin xyz="${man_base_center}" />
                <mass value="${man_base_mass}" />
                <inertia ixx="${ixx_man_base}" ixy="${ixy_man_base}" ixz="${ixz_man_base}"
                        iyy="${iyy_man_base}" iyz="${iyz_man_base}"
                        izz="${izz_man_base}" />
            </inertial>
            <visual>
                <geometry>
                    <mesh filename="${path_to_manipulator_base}" scale = "0.001 0.001 0.001"/>
                </geometry>
            </visual>
            <collision>
                <geometry>
                    <mesh filename="${path_to_manipulator_base}" scale = "0.001 0.001 0.001"/>
                </geometry>
            </collision>
        </link>
        
        <link name="manipulator_segment_1">
            <inertial>
                <origin xyz="${man_seg_1_center}" rpy="0 0.0 0"/>
                <mass value="${man_seg_1_mass}" />
                <inertia ixx="${ixx_man_seg_1}" ixy="${ixy_man_seg_1}" ixz="${ixz_man_seg_1}"
                        iyy="${iyy_man_seg_1}" iyz="${iyz_man_seg_1}"
                        izz="${izz_man_seg_1}" />
            </inertial>
            <visual>
                <geometry>
                    <mesh filename="${path_to_manipulator_segment_1}" scale = "0.001 0.001 0.001"/>
                </geometry>
                <origin xyz="0.0 0.0 0.0" rpy="${pi/2} 0.0 ${pi}"/>
            </visual>
            <collision>
                <geometry>
                    <mesh filename="${path_to_manipulator_segment_1}" scale = "0.001 0.001 0.001"/>
                </geometry>
                <origin xyz="0.0 0.0 0.0" rpy="${pi/2} 0.0 ${pi}"/>
            </collision>
        </link>
        
        <link name="manipulator_segment_2">
            <inertial>
                <origin xyz="${man_seg_2_center}" rpy="0 0 0.0"/>
                <mass value="${man_seg_2_mass}" />
                <inertia ixx="${ixx_man_seg_2}" ixy="${ixy_man_seg_2}" ixz="${ixz_man_seg_2}"
                        iyy="${iyy_man_seg_2}" iyz="${iyz_man_seg_2}"
                        izz="${izz_man_seg_2}" />
            </inertial>
            <visual>
                <geometry>
                    <mesh filename="${path_to_manipulator_segment_2}" scale = "0.001 0.001 0.001"/>
                </geometry>
                <origin xyz="0.0 0.0 0.0" rpy="${pi/2} ${pi} 0.0"/>
            </visual>
            <collision>
                <geometry>
                    <mesh filename="${path_to_manipulator_segment_2}" scale = "0.001 0.001 0.001"/>
                </geometry>
                <origin xyz="0.0 0.0 0.0" rpy="${pi/2} ${pi} 0.0"/>
            </collision>
        </link>

        <joint name="${base_name}_to_manipulator_base" type="fixed">
            <parent link="${base_name}"/>
            <child link="manipulator_base"/>
            <origin xyz="0.0 0.0 0.13"/>
        </joint>

        <joint name="manipulator_base_to_manipulator_segment_1" type="fixed">
            <parent link="manipulator_base"/>
            <child link="manipulator_segment_1"/>
            <origin xyz="0.0 0.04 0.075" rpy="0 0 0"/>
        </joint>

        <joint name="manipulator_segment_1_to_manipulator_segment_2" type="fixed">
            <parent link="manipulator_segment_1"/>
            <child link="manipulator_segment_2"/>
            <origin xyz="-0.25 -0.04 0.0" rpy="0.0 0.0 0.0"/>
        </joint>
    </xacro:macro>

</robot>