<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="path_to_base" value = "package://mini_project/meshes/body.dae"/>
    <xacro:property name="path_to_leg_roll" value = "package://mini_project/meshes/thigh.dae"/>
    <xacro:property name="path_to_upper_leg" value = "package://mini_project/meshes/upper_leg.dae"/>
    <xacro:property name="path_to_lower_leg" value = "package://mini_project/meshes/lower_leg.dae"/>
    <xacro:property name="path_to_manipulator_base" value = "package://mini_project/meshes/manipulator_joint.dae"/>
    <xacro:property name="path_to_manipulator_segment_1" value = "package://mini_project/meshes/manipulator_segment_1.dae"/>
    <xacro:property name="path_to_manipulator_segment_2" value = "package://mini_project/meshes/manipulator_segment_2.dae"/>

    <xacro:property name="ixx_body" value = "0.47331170488629"/>
    <xacro:property name="ixy_body" value = "0.0"/>
    <xacro:property name="ixz_body" value = "0.0"/>
    <xacro:property name="iyy_body" value = "1.92964600184763"/>
    <xacro:property name="iyz_body" value = "0.0"/>    
    <xacro:property name="izz_body" value = "1.88984590052932"/>
    <xacro:property name="body_mass" value = "44.88560358"/>
    <xacro:property name="body_center_of_mass" value = "0 0 -0.00722624877"/>

    <xacro:property name="ixx_leg_roll" value = "0.01771591024568"/>
    <xacro:property name="ixy_leg_roll" value = "0.0"/>
    <xacro:property name="ixz_leg_roll" value = "0.0"/>
    <xacro:property name="iyy_leg_roll" value = "0.00540298667217"/>
    <xacro:property name="iyz_leg_roll" value = "0.0"/>    
    <xacro:property name="izz_leg_roll" value = "0.01761332943090"/>
    <xacro:property name="leg_roll_mass" value = "2.33840380"/>
    <xacro:property name="leg_roll_center_x" value = "0.00160346990"/>
    <xacro:property name="leg_roll_center_y" value = "0.19560047521"/>
    <xacro:property name="leg_roll_center_z" value = "0.0"/>

    <xacro:property name="ixx_thigh" value = "0.07057863"/>
    <xacro:property name="ixy_thigh" value = "0.0"/>    
    <xacro:property name="ixz_thigh" value = "0.0"/>
    <xacro:property name="iyy_thigh" value = "0.07214686"/>
    <xacro:property name="iyz_thigh" value = "0.0"/>
    <xacro:property name="izz_thigh" value = "0.00313293"/>
    <xacro:property name="thigh_mass" value = "2.90604712"/>
    <xacro:property name="thigh_center_x" value = "0.0"/>
    <xacro:property name="thigh_center_y" value = "0.0"/>
    <xacro:property name="thigh_center_z" value = "-0.19777343"/>
    <xacro:property name="thigh_center_of_mass" value = "${thigh_center_x} ${thigh_center_y} ${thigh_center_z}"/>

    <xacro:property name="ixx_lower_leg" value = "0.0938058"/>
    <xacro:property name="ixy_lower_leg" value = "0.0"/>
    <xacro:property name="ixz_lower_leg" value = "0.0"/>
    <xacro:property name="iyy_lower_leg" value = "0.09632913"/>
    <xacro:property name="iyz_lower_leg" value = "0.0"/>
    <xacro:property name="izz_lower_leg" value = "0.00375697"/>
    <xacro:property name="lower_leg_mass" value = "1.81736395"/>
    <xacro:property name="lower_leg_center_x" value = "-0.02510293"/>
    <xacro:property name="lower_leg_center_y" value = "0.0"/>
    <xacro:property name="lower_leg_center_z" value = "-0.15457863"/>
    <xacro:property name="lower_leg_center_of_mass" value = "${lower_leg_center_x} ${lower_leg_center_y} ${lower_leg_center_z}"/>

    <xacro:property name="ixx_man_base" value = "0.00592368152307"/>
    <xacro:property name="ixy_man_base" value = "0.0"/>
    <xacro:property name="ixz_man_base" value = "0.0"/>
    <xacro:property name="iyy_man_base" value = "0.00455222665474"/>
    <xacro:property name="iyz_man_base" value = "0.0"/>    
    <xacro:property name="izz_man_base" value = "0.00630165344962"/>
    <xacro:property name="man_base_mass" value = "1.63291158"/>
    <xacro:property name="man_base_center" value = "0.0001195 -0.01132600777 0.04996291284 "/>

    <xacro:property name="ixx_man_seg_1" value = "0.00029149081721"/>
    <xacro:property name="ixy_man_seg_1" value = "0.0"/>
    <xacro:property name="ixz_man_seg_1" value = "0.0"/>
    <xacro:property name="iyy_man_seg_1" value = "0.00745356022911"/>
    <xacro:property name="iyz_man_seg_1" value = "0.0"/>    
    <xacro:property name="izz_man_seg_1" value = "0.00730622307390"/>
    <xacro:property name="man_seg_1_mass" value = "0.65721313"/>
    <xacro:property name="man_seg_1_center" value = "-0.12499144985 0.00000184653 0.0"/>

    <xacro:property name="ixx_man_seg_2" value = "0.00016867187941"/>
    <xacro:property name="ixy_man_seg_2" value = "0.0"/>
    <xacro:property name="ixz_man_seg_2" value = "0.0"/>
    <xacro:property name="iyy_man_seg_2" value = "0.02041441059327"/>
    <xacro:property name="iyz_man_seg_2" value = "0.0"/>    
    <xacro:property name="izz_man_seg_2" value = "0.02036185070001"/>
    <xacro:property name="man_seg_2_mass" value = "0.45716422"/>
    <xacro:property name="man_seg_2_center" value = "0.19438946797 0.0 0.00000001267"/>


</robot>