<launch>
    <arg name="robot_name"          default="argos"/>
    <arg name="rviz"                default="true"/>
    <arg name="ground_truth"        default="false"/>

    <arg if="$(eval arg('ground_truth'))"  name="transform_period" value="0.0" />
    <arg unless="$(eval arg('ground_truth'))"  name="transform_period" value="0.5" />

    <arg if="$(eval arg('ground_truth'))"  name="odom_frame" value="argos/world" />
    <arg unless="$(eval arg('ground_truth'))"  name="odom_frame" value="argos/odom" />
    
    <arg if="$(eval arg('robot_name') == '/')"  name="frame_prefix" value="" />
    <arg unless="$(eval arg('robot_name') == '/')" name="frame_prefix" value="$(arg robot_name)/" />

    <group ns="$(arg robot_name)">

        <include file="$(find argos_config)/launch/include/gmapping.launch">
            <arg name="frame_prefix"     value="$(arg frame_prefix)"/>
            <arg name="transform_period" value="$(arg transform_period)"/>
            <arg name="odom_frame"       value="$(arg odom_frame)"/>
        </include>

        <include file="$(find argos_config)/launch/include/move_base.launch">
            <arg name="frame_prefix"     value="$(arg frame_prefix)"/>
            <arg name="robot_name"       value="$(arg robot_name)"/>
            <arg name="odom_frame"       value="$(arg odom_frame)"/>
        </include> 

        <!-- Calls navigation stack packages -->

        <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
            args="-d $(find argos_config)/rviz/navigate_disp.rviz -f $(arg frame_prefix)map"
            output="screen"/>
    </group>

</launch>