<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="zed_camera" params="base_name pos_x pos_y pos_z rotate_camera camera_numb" >

    <!-- Arguments -->


    <xacro:arg name="camera_name"   default="zed2" />
    <xacro:arg name="camera_model"  default="zed2" />
    <xacro:arg name="base_frame"    default="${base_name}" />
    <xacro:arg name="cam_roll"      default="0.0" />
    <xacro:arg name="cam_pitch"     default="0.0" />
    <xacro:arg name="cam_yaw"       default="0.0" />

    <!-- Properties -->
    <xacro:property name="M_PI"          value="3.1415926535897931" />
    <xacro:property name="model"         value="$(arg camera_model)" />
    <xacro:property name="cam_pos_x"     value="${pos_x}" />
    <xacro:property name="cam_pos_y"     value="${pos_y}" />
    <xacro:property name="cam_pos_z"     value="${pos_z}" />
    <xacro:property name="rotate"        value="${rotate_camera}" />
    <xacro:property name="numb"          value="${camera_numb}" />

    <!-- Materials -->

    <material name="zed_mat_${numb}">
        <color rgba="0.8 0.8 0.8 0.8"/>
    </material>
    <material name="zedm_mat_${numb}">
        <color rgba="0 0 0 0.9"/>
    </material>
    <material name="zed2_mat_${numb}">
        <color rgba="0.25 0.25 0.25 0.99"/>
    </material>
    <material name="zed2i_mat_${numb}">
        <color rgba="0.25 0.25 0.25 0.99"/>
    </material>

    <xacro:if value="${model == 'zed'}">
        <xacro:property name="baseline" value="0.12" />
    </xacro:if>
    <xacro:if value="${model == 'zedm'}">
        <xacro:property name="baseline" value="0.06" />
    </xacro:if>
    <xacro:if value="${model == 'zed2'}">
        <xacro:property name="baseline" value="0.12" />
    </xacro:if>
    <xacro:if value="${model == 'zed2i'}">
        <xacro:property name="baseline" value="0.12" />
    </xacro:if>

<!-- Camera Center -->
    <joint name="camera_center_joint_${numb}" type="fixed">
        <parent link="$(arg base_frame)"/>
        <child link="camera_center_${numb}"/>
        <origin xyz="${cam_pos_x} ${cam_pos_y} ${cam_pos_z}" rpy="$(arg cam_roll) $(arg cam_pitch) ${rotate*M_PI}" />
    </joint>

    <link name="camera_center_${numb}">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://mini_project/meshes/${model}.stl" />
            </geometry>
            <material name="${model}_mat_${numb}" />
        </visual>
    </link>

<!-- Left Camera -->
    <joint name="left_camera_joint_${numb}" type="fixed">
        <parent link="camera_center_${numb}"/>
        <child link="left_camera_frame_${numb}"/>
        <origin xyz="0 ${baseline/2} 0" rpy="0 0 0" />
    </joint>

    <link name="left_camera_frame_${numb}" />

    <joint name="left_camera_optical_joint_${numb}" type="fixed">
        <origin xyz="0 0 0" rpy="-${M_PI/2} 0.0 -${M_PI/2}"/>
        <parent link="left_camera_frame_${numb}"/>
        <child link="left_camera_optical_frame_${numb}"/>
    </joint>

    <link name="left_camera_optical_frame_${numb}"/>

    <gazebo reference="left_camera_frame_${numb}">
        <sensor type="multicamera" name="stereo_camera">
        <update_rate>30.0</update_rate>
        <camera name="left">
            <horizontal_fov>1.91986218</horizontal_fov>
            <vertical_fov>1.22173048</vertical_fov>
            <diagonal_fov>2.0943951</diagonal_fov>
            <image>
                <width>752</width>
                <height>480</height>
                <format>R8G8B8</format>
            </image>
            <clip>
                <near>0.02</near>
                <far>300</far>
            </clip>
            <noise>
                <type>gaussian</type>
                <mean>0.0</mean>
                <stddev>0.004</stddev>
            </noise>
        </camera>
        <camera name="right">
            <pose>0 -0.12 0 0 0 0</pose>
            <horizontal_fov>1.91986218</horizontal_fov>
            <vertical_fov>1.22173048</vertical_fov>
            <diagonal_fov>2.0943951</diagonal_fov>
            <image>
                <width>752</width>
                <height>480</height>
                <format>R8G8B8</format>
            </image>
            <clip>
                <near>0.02</near>
                <far>300</far>
            </clip>
            <noise>
                <type>gaussian</type>
                <mean>0.0</mean>
                <stddev>0.004</stddev>
            </noise>
        </camera>
        <plugin name="stereo_camera_controller" filename="libgazebo_ros_multicamera.so">
            <robotNamespace>/</robotNamespace>
            <alwaysOn>true</alwaysOn>
            <updateRate>0.0</updateRate>
            <cameraName>camera_${numb}</cameraName>
            <imageTopicName>image_raw</imageTopicName>
            <cameraInfoTopicName>camera_info</cameraInfoTopicName>
            <frameName>left_camera_optical_frame_${numb}</frameName>
            <!--<rightFrameName>right_camera_optical_frame</rightFrameName>-->
            <hackBaseline>0.12</hackBaseline>
            <distortionK1>0.0</distortionK1>
            <distortionK2>0.0</distortionK2>
            <distortionK3>0.0</distortionK3>
            <distortionT1>0.0</distortionT1>
            <distortionT2>0.0</distortionT2>
        </plugin>
        </sensor>
    </gazebo>

    </xacro:macro>
</robot>